<section>
    <h2>{{ introName }}</h2>
    {% for item in introItems %}
        <article>
            <h3>{{ item.title }}</h3>
            <article>
                {% if introMaxItems and introMaxItems > 0 %}
                    {{ str_limit(item.intro|raw, introMaxItems) }}
                {% else %}
                    {{ item.intro|raw }}
                {% endif %}
            </article>
            <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
        </article>
    {% endfor %}
</section>
