<section class="extendpages-displayintro">
{# --> {{ var_dump(isHeading) }} -- <br> #}

    {% if isHeading == 1 %}
        <h2>{{ name }}</h2>
    {% endif %}
    {% for item in items %}
        <article>
            {% if isSubHeading == 1 %}
                <h3>{{ item.title }}</h3>
            {% endif %}
            <article>
                {% if maxItems and maxItems > 0 %}
                    {{ str_limit(item.intro|raw, maxItems) }}
                {% else %}
                    {{ item.intro|raw }}
                {% endif %}
            </article>
            {% if moreLinkTitle|trim == ''  %}
                <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
            {% else %}
                <a href="{{ item.url }}" title="{{ moreLinkTitle }}">{{ moreLinkTitle }}</a>
            {% endif %}
        </article>
    {% endfor %}
</section>
