<section class="extendpages-displayintro">
    {% if isHeading == 1 %}
        <h2>{{ name }}</h2>
    {% endif %}
    {% for item in items %}
        <article style="--icon-intro-{{ loop.index }}: url({{ url(('service/' ~ item.filename|slug)|media) }}.svg)">
            {% if isSubHeading == 1 and item['title'] is defined and item.title != '' %}
                <h3>{{ item.title }}</h3>
            {% endif %}
            <article>
                {% if maxItems and maxItems > 0 %}
                    {{ item.intro|raw|truncate_html(maxItems) }}
                {% else %}
                    {{ item.intro|raw }}
                {% endif %}
            </article>
            {% if moreLinkTitle|trim == ''  %}
                <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
            {% else %}
                <a href="{{ item.url }}" title="{{ moreLinkTitle }}">{{ moreLinkTitle }}</a>
            {% endif %}
        </article>
    {% endfor %}
</section>
